<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>配当達成率グラフ</title>
    <link th:href="@{/css/basicChart.css}" rel="styleSheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header th:replace="~{header}"></header>
    <h1>配当達成率グラフ</h1>
    <form th:action="@{/dividendAchievementRate}" method="get">
        <div class="mb-3">
            <label for="targetDividend" class="form-label">目標配当額（単位：ドル/月）</label>
            <input type="number" id="targetDividend" step="1" name="targetDividend" class="form-control"
                   min="1" list="targetDividendList" onchange="submit(this.form)"
                   th:value="${dividendAchievementRateDto.getTargetDividend()}" />
            <datalist id="targetDividendList">
                <option value="10"></option>
                <option value="100"></option>
                <option value="500"></option>
                <option value="1000"></option>
                <option value="3000"></option>
                <option value="5000"></option>
            </datalist>
        </div>
    </form>
    <p th:text="'換算：' + ${dividendAchievementRateDto.getTargetDividendYen()} + '円（レート設定：150円/ドル）'"></p>
    <div class="chart-container">
        <canvas id="dividendAchievementRate"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>
        const labels = [ [(${dividendAchievementRateDto.getLabels()})] ];
        const data = [ [[${dividendAchievementRateDto.getChartData()}]] ];
        const ctx = document.getElementById("dividendAchievementRate");
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '配当達成率（％）',
                    data: data,
                    backgroundColor: "rgba(0, 255, 255, 0.5)"
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: '配当達成率'
                    }
                },
                scales: {
                    y: {
                        min: 0,
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + '%';
                            }
                        }
                    }
                },
                maintainAspectRatio: false
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous">
    </script>
</body>
</html>
