<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header th:replace="~{header}"></header>
    <h1>ログイン</h1>
    <div th:if="${param.error}">
        ログインエラー
    </div>
    <div th:if="${param.logout}">
        ログアウトしました。
    </div>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">アカウント名</label>
            <input type="text" id="username" name="username" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">パスワード</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div class="mb-3">
            <input type="submit" value="Login" class="btn btn-primary"/>
        </div>
    </form>
    <a href="/createUserAccount">アカウント作成</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous">
    </script>
</body>
</html>
