<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>年間累計配当グラフ</title>
    <link th:href="@{/css/basicChart.css}" rel="styleSheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header th:replace="~{header}"></header>
    <h1>年間累計配当グラフ</h1>
    <form th:action="@{/yearlyCumulativeDividend}" method="get">
        <div class="mb-3">
            <label for="selectYear" class="form-label">対象年</label>
            <select name="targetYear" id="selectYear" onchange="submit(this.form)" class="form-select">
                <option th:each="year : ${yearlyCumulativeDividendDto.getRecentYears()}" th:value="${year}"
                        th:text="${year}" th:selected="${year == yearlyCumulativeDividendDto.getTargetYear()}"></option>
            </select>
        </div>
    </form>
    <div class="chart-container">
        <canvas id="yearlyCumulativeDividend"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>
        const year = '[[${yearlyCumulativeDividendDto.getTargetYear()}]]';
        const data = [ [[${yearlyCumulativeDividendDto.getChartData()}]] ];
        const ctx = document.getElementById("yearlyCumulativeDividend");
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    year + '年1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'
                ],
                datasets: [
                    {
                        label: '累計配当受取額(ドル）',
                        data: data,
                        borderColor: 'rgba(240, 131, 0, 0.5)',
                        fill: {
                            target: 'origin',
                            above: 'rgba(240, 131, 0, 0.5)'
                        }
                    }
                ]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: '配当推移（' + year + '年1月~' + year + '年12月）'
                    }
                },
                scales: {
                    y: {
                        min: 0,
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + 'ドル';
                            }
                        }
                    }
                },
                maintainAspectRatio: false
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous">
    </script>
</body>
</html>
